<div id="contact">
    <section class="section effect contact-form">
        <div class="page-width">
            <div class="container">
                <div class="left-column">
                    <h2 class="common-h-title-middle">
                        Contact Worksport
                    </h2>
                    <p>
                        If you are looking for a dealer close to you please fill in the area where you would like to visit one of our dealers.
                    </p>

                    <ul>
                        <li>
                            <h3 class="contact-title">
                                Address
                            </h3>
                            <span class="contact-detail">
                                3120 Rutherford Road Suite 414 Vaughan Ontario L4K 0B1 Canada
                            </span>
                        </li>
                        <li>
                            <h3 class="contact-title">
                                E-Mail
                            </h3>
                            <span class="contact-detail">
                                <a class="hover-opacity" href="mailto:sales@Worksport.com">sales@Worksport.com</a>
                            </span>
                        </li>
                        <li>
                            <h3 class="contact-title">
                                Phone
                            </h3>
                            <span class="contact-detail">
                                <a class="hover-opacity" href="tel:1-888-554-8789">1-888-554-8789</a>
                            </span>
                        </li>
                        <li>
                            <h3 class="contact-title">
                                E-Mail
                            </h3>
                            <span class="contact-detail">
                                <a class="hover-opacity" href="tel:1-416-352-5389">1-416-352-5389</a>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="right-column">
                    <div style="color: red">
                        REPLACE WITH ACTUAL CODE BEFORE LAUNCH</div><br>
                    <img style="width: 100%;" alt="" class="lazyload" data-src={{ "test-form.jpg" | asset_img_url: "master" }}/>
                </div>
            </div>
        </div>
    </section>
</div>