<div id="blog">

    {%- paginate blog.articles by 7 -%}
        <section class="section blog-posts">
            <div class="page-width">
                <h2 class="common-h-title-middle">
                    Latest Press Releases
                </h2>

                <div class="blog-articles">
                    {%- for article in blog.articles -%}
                        {% if forloop.first == true %}
                            {% assign first_article = true %}
                        {% else %}
                            {% assign first_article = false %}
                        {% endif %}
                        {%- render 'article-card', article: article, first_article:first_article -%}
                    {%- endfor -%}
                </div>

                {%- if paginate.pages > 1 -%}
                    {%- render 'pagination', paginate: paginate -%}
                {%- endif -%}
            </div>
        </section>
    {%- endpaginate -%}

</div>