<div id="support">
    <section class="section here-to-help">
        <div class="page-width">
            <div class="container">
                <div class="left-column">
                    <h2 class="common-h-title-middle">
                        We’re here to help.
                    </h2>
                    <p>
                        Our top priority is to provide top customer service as good as the products we create. If one of our products does not perform to your satisfaction, contact our customer service team and we’ll help you find parts that fits your needs.
                    </p>

                    <div class="see-faq">
                        <div class="text">
                            Know exactly what you need?<br>Try searching for it here.
                        </div>
                        <div class="button-wrapper">
                            <div class="shiny-button-outer">
                                <a class="shiny-button" href="#">SEE OUR FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-column">
                    <ul>
                        <li>
                            <h3 class="contact-title">
                                E-Mail
                            </h3>
                            <span class="contact-detail">
                                <a class="hover-opacity" href="mailto:sales@Worksport.com">sales@Worksport.com</a>
                            </span>
                        </li>
                        <li>
                            <h3 class="contact-title">
                                Phone
                            </h3>
                            <span class="contact-detail">
                                <a class="hover-opacity" href="tel:1-888-554-8789">1-888-554-8789</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section support-form">
        <div class="page-width">
            <h3 class="common-h-title-small">
                Warranty Claim Form
            </h3>
            <div style="color: red">
                REPLACE WITH ACTUAL CODE BEFORE LAUNCH</div><br>
            <img style="width: 100%;" alt="" class="lazyload" data-src={{ "test-form2.jpg" | asset_img_url: "master" }}/>
        </div>
    </section>

    <section class="section contact-us">
        <div class="page-width">
            <h3 class="common-h-title-small">
                Can’t find what you are looking for?
            </h3>
            <p>
                If you still can’t find what you’re looking for in our support resources, contact customer support directly.
            </p>
            <div class="button-wrapper">
                <div class="shiny-button-outer">
                    <a class="shiny-button" href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
</div>