{% if product.metafields.custom_fields["installation_instructions_url"] != blank %}
  <div class="custom-field custom-field__installation-instructions-url custom-field__type--url">
    <h3 class="custom-field--title">Installation Instructions URL</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["installation_instructions_url"] }}
    </div>
  </div>
{% endif %}