<div class="hamburger-menu">
    <div class="page-width">
        <div class="container">
            <div class="left-column">
                {% include 'social-list'%}
            </div>

            <div class="right-column">
                <ul role="list">
                    {% for link in linklists.main-menu2.links %}
                        <li {%- if link.current %} class="current-link" {% endif %}>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
