<section class="section effect newsletter-banner1">
    <div class="page-width  max-width-1200">
        <div class="container">
            <h3 class="common-h-title-regular">Subscribe to<br>our newsletter</h3>
            <div class="newsletter">
                <h4>for All the New Products, Articles & Deals</h4>
                {% include 'custom-newsletter'%}
            </div>
        </div>
    </div>
</section>